body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.himage{
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
}
.box{
  align-content: center;
}
.bimage{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
th{

  font-size: 15px;
}

thead, th, td{
  border: 2px solid;
}
