body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  top: 0;
  width: 100%;
  z-index: 1000;
}
.himage{
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
}

th{
  font-size: 15px;
}
thead, th, td{
  border: 2px solid;
}
.responsive{
  object-fit: cover;
  object-position: center;
  width: 100;
  height: auto;
}
